{% extends "./layout/base.html" %}

{% block content %}
<div class="container">
<form role="form" method="post" action={{rc.contextPath}}/replySOS>
  <div class="form-group">
    <label for="sender">SOS 求助人</label>
    <p class="bg-info" id="sender" >{{map.NAME}}</p>
  </div>
  <div class="form-group">
    <label for="tags">标签</label>
    <p class="bg-info" id="tags" >{{map.TAGS}}</p>
  </div>
  <div class="form-group">
    <label for="message">内容</label>
    <p  class="bg-info" id="message" >{{map.MESSAGE}}</p>
  </div>
  <div >
        <input type="text" name="tags" value="{{map.TAGS}}" style="display:none;"></input>
  		<input type="text" name="userId" value="{{map.USERID}}" style="display:none;"></input>
	   <textarea cols="70" rows="10" class="form-control" placeholder="请输入回答" name="answer"></textarea>
  </div>
  <div style="text-align:center;">
        <button type="submit" class="btn btn-default" >发送</button>
  </div>
</form>
</div>
{% endblock%}