
{% extends "../layout/base.html" %} {% block css_block %}
<link href="{{rc.contextPath}}/assets/css/coode.favorite.css" rel="stylesheet">

{% endblock %} {% block js_block %}
<script src="{{rc.contextPath}}/assets/js/coode.favorite.js">
</script>
{% endblock %} {% block content %}
<div class="row title-top">
  <div class="col-md-6">
    <span>
      我的收藏夹
    </span>
    <!--      <button>向页面发送 HTTP PostContent 请求，并获得返回的结果</button>{{FAV_LIST}} <br/> -->
<!--    {{FAV_LIST}}
    <br/>-->
<!--    {{pagers}}{{pagere}}-->
  </div>
  <div class="col-md-6">
    <ol class="breadcrumb">
      <li>
      <a href="{{rc.contextPath}}/">
        首页
      </a>
    </li>
    <li class="active">
    我的收藏夹
  </li>
</ol>
</div>
</div>
<div class="row">
  <div class="col-md-12 add-favorite">
    <a data-toggle="modal" data-target="#createfavModal" style="cursor:pointer">
      + 添加新的收藏夹
    </a>
  </div>
  <!--  添加新的收藏夹-->
  <div id="favpage">
  <div 
      class="modal fade"
      id="createfavModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">
            创建收藏夹
          </h4>
        </div>
        <div class="modal-body">
          <form action="{{rc.contextPath}}/createfav" method="post">
            <span>
              收藏夹名称：
            </span>
            <input type="text" name="favoritename" placeholder="输入收藏夹名称"/>
            <br />
            <div class="btn-groups">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                取消
              </button>
              <button type="submit" class="btn btn-primary" id = "createfav">
                确认创建
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  </div>
  <!-- /.modal -->

</div>

{%for FAV in FAV_LIST %}
<!--{{FAV}}-->
<div class="col-md-6">
  <div class="row">
    <div class="favorite-list-num">
      <span>
        {% if pagers|ADD:loop.index|Divide:'10'|equal:'0'%}0{% endif %}{{pagers|ADD:loop.index}}
      </span>
    </div>
    <div class="favorite-list">
      <div class="favorite-list-top">
        <div class="favorite-name" >
          <span>
          <a href="{{rc.contextPath}}/favtitlelist?favoriteid={{FAV.ID}}">
            {{FAV.FAVORITE_NAME}}
          </a>
          </span>
        </div>
        <div class="favorite-action">
          <div class="favorite-action-last" favid = "{{FAV.ID}}">
            <span>
              <a href="{{rc.contextPath}}/favtitlelist?favoriteid={{FAV.ID}}">
                更多
              </a>
            </span>
          </div>
          <!--收藏夹重命名-->
          <div 
              class="rename favorite-action-before"
              favid="{{FAV.ID}}"
              favname="{{FAV.FAVORITE_NAME}}"
              data-toggle="modal"
              data-target="#updatefavnameModal">


            <span  style="cursor:pointer">
              重命名
            </span>
          </div>
          <!--  收藏夹重命名-->
          <div id="favpage">
          <div 
              class="modal fade"
              id="updatefavnameModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="myModalLabel"
              aria-hidden="true">

            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                    收藏夹重命名
                  </h4>
                </div>
                <div class="modal-body" id="rename-modal-body">
                  <span>
                    收藏夹名称：
                  </span>
                  <input type="text" name="favoritename"/>
                  <br />
                  <div class="btn-groups">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                      取消
                    </button>
                    <button type="button" class="btn btn-primary" id = "renamefav">
                      确认修改
                    </button>
                  </div>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          </div>
          <!-- /.modal -->

          <!--删除收藏夹-->
          <div 
              class="delete favorite-action-before"
              favid="{{FAV.ID}}"
              favname="{{FAV.FAVORITE_NAME}}"
              data-toggle="modal"
              data-target="#deletefavModal">


            <span  style="cursor:pointer">
              删除
            </span>
          </div>

	 <div id="favpage">
          <div 
              class="modal fade"
              id="deletefavModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="myModalLabel"
              aria-hidden="true">




            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header" id = "delete-modal-header">
                  <button type="button" class="close" id="delete-modal-close" data-dismiss="modal" aria-hidden="true">
                    &times;
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                  </h4>
                </div>
                <div class="modal-body" id="delete-modal-body">
                  <div id = "tip">
                    <table>
                      <tr>
                        <td>
                          <img src="{{rc.contextPath}}/assets/images/icon-questionmark.png">
                        </td>
                        <td>
                          <div id= "tiptext">
                            <span>
                              确定要删除“
                              <strong>
                                <!--在js文件里 -->
                              </strong>
                              ”收藏夹吗？收藏夹内的所有收藏文章将会一起被删除!
                            </span>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div  id="delete-btn-groups" class="btn-groups">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                      取消
                    </button>
                    <button type="button" class="btn btn-primary" id = "deletefav">
                      确定删除
                    </button>
                  </div>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
      </div>
          <!-- /.modal -->

        </div>
      </div>
      <!--    前三条文章标题-->
      {% for TITLE IN FAV.TITLE_LIST%}
      <div class="favorite-list-title">
        <div class="favorite-list-title-tip">
          <span>
            {{TITLE.NODE_TYPE}}
          </span>
        </div>
        <div class="favorite-list-title-name">
          <span>           
            <a href="post?id={{TITLE.NODE_ID}}"> {{TITLE.TITLE|truncate:15}}</a>
          </span>
        </div>
        <div class="favorite-list-title-time">
          <span>
            {{TITLE.CREATED_AT|date:yyyy-MM-dd hh:mm}}
          </span>
        </div>
        <div class="favorite-list-title-date">
          <span>
          </span>
        </div>
      </div>

      {%endfor%}
    </div>
  </div>
</div>
{%endfor%} 
       <div id="clear">
      </div>

    <div class="row" style="text-align: center">
        {% if pager.empty | not %}
        <ul class="pagination">
            <li {% if pager.isFirst %}class="disabled"{% endif %}>
                <a href="{{rc.contextPath}}/favorite?p=1">
                    <img src="{{rc.contextPath}}/assets/images/pager-first{% if pager.isFirst %}-disable{% endif %}.png">
                </a>
            </li>
            <li {% if pager.isFirst %}class="disabled"{% endif %}>
                <a href="{{rc.contextPath}}/favorite?p={{pager.prevPage}}">
                    <img src="{{rc.contextPath}}/assets/images/pager-prev{% if pager.isFirst %}-disable{% endif %}.png">
                </a>
            </li>
            {% for i in pager.pageRange %}
            <li {% if i |equal: pager.currentPage %}class="active"{% endif %}>
                <a href="{{rc.contextPath}}/favorite?p={{i}}">{{i}}</a>
            </li>
            {% endfor %}
            <li {% if pager.isLast %}class="disabled"{% endif %}>
                <a href="{{rc.contextPath}}/favorite?p={{pager.nextPage}}">
                    <img src="{{rc.contextPath}}/assets/images/pager-next{% if pager.isLast %}-disable{% endif %}.png">
                </a>
            </li>
            <li {% if pager.isLast %}class="disabled"{% endif %}>
                <a href="{{rc.contextPath}}/favorite?p={{pager.pageCount}}">
                    <img src="{{rc.contextPath}}/assets/images/pager-last{% if pager.isLast %}-disable{% endif %}.png">
                </a>
            </li>
        </ul>
        {% endif %}
    </div>

{% endblock %}
