<div style="width: 200px;">
    <div>hello</div>
    <div class="form-group">
        <label>Popup Title:</label>
        <input type="text" ng-model="dynamicPopover.title" class="form-control">
    </div>
</div>