<!--
       _..._      .-'''-.       .-'''-.       .-'''-.
    .-'_..._''.  '       \    '   _    \    '         \_______
  .' .'      './   /` '.   \ /   /` '.   \ /   /` '.   \  ___ `'.        __.....__
 / .'         .   |     \  '.   |     \  '.   |     \  '' |--.\  \   .-''         '.
. '           |   '  嘿  |  |   '  嘿  |  |   '   嘿 |  | |    \  ' /     .-''"'-.  `.
| |           \    \     / /\    \     / /\    \     / /| |     |  /     /________\   \
| |            `.   ` ..' /  `.   ` ..' /  `.   ` ..' / | |     |  |                  |
. '               '-...-'`      '-...-'`      '-...-'`  | |     ' .\    .-------------'
 \ '.          .                                        | |___.' /' \    '-.____...---.
  '. `._____.-'/            亲，别偷看哦                /_______.'/   `.             .'
    `-.______ /                                        \_______|/      `''-...... -'       `
-->
<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="coode" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="coode" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="coode" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="coode" class="no-js"> <!--<![endif]-->
<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>COODE - developer for developer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">-->
    <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/coode.site.css" >
    <!--<script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>-->
</head>
<body ng-controller="SiteController" >

<nav id="coode-nav" class="navbar navbar-default navbar-fixed-top" style="clear:both;" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                <img src="assets/images/logo-s.png" title="Sharing and linking">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group has-feedback">
                        <input type="text" ng-model="q" ui-keypress="{13: 'search($event)'}" class="coode-search-box form-control" placeholder="Searching article, Q&A, Sharing, Comment..">
                        <label id="search-icon" class="glyphicon glyphicon-search form-control-feedback" style="color: #999"></label>
                    </div>
                </form>
                <li>
                    <a ng-click="sos.open()" href=""><img src="assets/images/icon-sos.png"></a>
                </li>
                <li>
                    <a href="#/nodes/new"><img src="assets/images/icon-post.png"></a>
                </li>
                <li>
                    <a href="" id="coode-message-button" popover-template="notif.templateUrl" popover-placement="bottom">
                        <img src="assets/images/icon-message.png">
                    </a>
                </li>
                <li>
                    <a href="#/tags"><img src="assets/images/icon-subscribe.png"></a>
                </li>
                <li class="dropdown" dropdown>
                    <a href="" class="dropdown-toggle" dropdown-toggle>
                        <img src="assets/images/icon-user.png">
                        <img src="assets/images/icon-caret.png">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/usercenter">My Profile</a></li>
                        <li><a href="#/favorite">My Favorite</a></li>
                        <li><a href="#/logout">Log out</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
<br/>
<br/>
<br/>
<br/>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container">
    <!--<div class="row">-->
        <!--<ul class="menu">-->
            <!--<li><a href="#/">nodes</a></li>-->
            <!--<li><a href="#/view2">view2</a></li>-->
        <!--</ul>-->
    <!--</div>-->
    <div class="row" ng-view></div>
    <div class="row">Angular seed app: v<span app-version></span></div>
</div>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->

<!-- AngularJS -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="bower_components/angular-ui-utils/ui-utils.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- tinymce -->
<script type="text/javascript" src="bower_components/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>

<!-- AngularJS app specific config and logic -->
<script src="app.js"></script>
<script src="site/site.js"></script>
<script src="node/node.js"></script>
<script src="view2/view2.js"></script>




<!-- AngularJS components -->
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
