<!--
       _..._      .-'''-.       .-'''-.       .-'''-.
    .-'_..._''.  '       \    '   _    \    '         \_______
  .' .'      './   /` '.   \ /   /` '.   \ /   /` '.   \  ___ `'.        __.....__
 / .'         .   |     \  '.   |     \  '.   |     \  '' |--.\  \   .-''         '.
. '           |   '  嘿  |  |   '  嘿  |  |   '   嘿 |  | |    \  ' /     .-''"'-.  `.
| |           \    \     / /\    \     / /\    \     / /| |     |  /     /________\   \
| |            `.   ` ..' /  `.   ` ..' /  `.   ` ..' / | |     |  |                  |
. '               '-...-'`      '-...-'`      '-...-'`  | |     ' .\    .-------------'
 \ '.          .                                        | |___.' /' \    '-.____...---.
  '. `._____.-'/            亲，别偷看哦                /_______.'/   `.             .'
    `-.______ /                                        \_______|/      `''-...... -'       `
-->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta_block %}{% endblock %}
    <title>{% block title %} COODE {% endblock %}</title>

    <!-- Semantic -->
    <link href="{{rc.contextPath}}/assets/css/bootstrap.min.css" rel="stylesheet">

    <link href="{{rc.contextPath}}/assets/css/coode.site.css" rel="stylesheet">
    {% block css_block %}{% endblock %}

    <script src="{{rc.contextPath}}/assets/js/jquery.min.js"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        var app = {
            contextPath: '{{rc.contextPath}}'
        }

    </script>
    {% block head_block %}{% endblock %}

</head>
<body>

<nav id="coode-nav" class="navbar navbar-default navbar-fixed-top"  style="clear:both;" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <a class="navbar-brand" href="{{rc.contextPath}}/">
                <img src="{{rc.contextPath}}/assets/images/logo-s.png" title="轻松的学习平台" >
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left" style="position:relative;left:-120px;" role="search" action="{{rc.contextPath}}/search" method="GET">
                    <div class="form-group has-feedback">
                        <input type="text" class="coode-search-box form-control" name="q" placeholder="搜索文章、问答、分享、评论.." value="{{q}}">
                        <span id="search-icon" class="glyphicon glyphicon-search form-control-feedback" style="color: #999; font-size: 1.2em"></span>
                    </div>
                </form>
                <li><a data-toggle="modal" href="#SOSModal"><img src="{{rc.contextPath}}/assets/images/icon-sos.png"></a></li>
                <li><a href="{{rc.contextPath}}/nodes/new"><img src="{{rc.contextPath}}/assets/images/icon-post.png"></a></li>
                <li><a href="#" id="coode-message-button" data-toggle="popover" data-html="true" data-placement="bottom" data-template='<div id="coode-message-popover" class="popover"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>' data-content="加载中..."><img src="{{rc.contextPath}}/assets/images/icon-message.png"><span id="coode-message" class="badge pull-right hide">4</span></a></li>
                <li><a href="{{rc.contextPath}}/allTags"><img src="{{rc.contextPath}}/assets/images/icon-subscribe.png"></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{rc.contextPath}}/assets/images/icon-user.png">
                        <img src="{{rc.contextPath}}/assets/images/icon-caret.png"></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{rc.contextPath}}/usercenter">个人资料</a></li>
                        <li><a href="{{rc.contextPath}}/favorite?p=1">我的收藏</a></li>
                        <li><a href="{{rc.contextPath}}/logout">退出登录</a></li>
                    </ul>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<br/>
<br/>
<br/>
<br/>


<div class="container">

    {% if hrc.hasFlash %}
    <div class="row">
        <div class="alert alert-success fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ hrc.flash }}
        </div>
    </div>
    {% endif %}

    <div class="row">
        {% block content %}{% endblock %}
    </div>
</div>

<div class="modal fade" id="SOSModal" tabindex="-1" role="dialog" aria-labelledby="sosModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <span class="modal-title" id="sosModalLabel">SOS问题急救</span>
      </div>
      <div class="modal-body">
	        <form class="well" action="{{rc.contextPath}}/sos2" target="iframe">
				 <textarea  name="textarea"  placeholder=" 请输入问题" cols="70" rows="10" class="form-control"></textarea><br>
				  <span class="help-inline">添加标签</span>
				  <input id="content" type="text" name="tags"  class="sosinput"><br/>
				  <div id="auto"></div>
				  <span class="help-inline">求助对象</span>
				 <input  id="help" type="text" class="sosinput"  >
				 <input id="help2" name="users"  type="hidden" >
				  <input type="reset" style="display:none;">
			</form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary " >发送</button>
      </div>
    </div>
  </div>
</div>
<iframe name="iframe" style="display:none;"></iframe>
<script src="{{rc.contextPath}}/assets/js/bootstrap.min.js"></script>
<script src="{{rc.contextPath}}/assets/js/coode.site.js"></script>
<script src="{{rc.contextPath}}/assets/js/autopromot2.js"></script>
{% block js_block %}{% endblock %}
</body>
</html>

