<p>This is the partial for view 1.</p>

list node

<a href="#/nodes/new">Add node</a>

<table border="1px">
    <tr ng-repeat="node in nodes">
        <td><a href="#/nodes/{{node.id}}">{{node.title}}</a></td>
        <td>{{node.content}}</td>
        <td>{{node.category}}</td>
    </tr>
</table>


