<!--<form novalidate class="simple-form">-->
    <!--Title: <input type="text" ng-model="node.title" /><br />-->
    <!--Content: <textarea ng-model="node.content"></textarea><br />-->
    <!--Type: <input type="radio" ng-model="node.type" value="article" />article-->
          <!--<input type="radio" ng-model="node.type" value="question" />question<br />-->
    <!--<input type="button" ng-click="reset()" value="Reset" />-->
    <!--<input type="submit" ng-click="create(node)" value="Save" />-->
<!--</form>-->

<h4>New Post</h4>

<form class="form-horizontal well">
    <div class="form-group">
        <label for="node-category" class="col-sm-2 control-label">Category</label>
        <div class="btn-group col-sm-10" id="node-category">
            <label class="btn btn-default" ng-model="node.category" btn-radio="'article'">Article</label>
            <label class="btn btn-default" ng-model="node.category" btn-radio="'question'">Question</label>
            <label class="btn btn-default" ng-model="node.category" btn-radio="'sharing'">Sharing</label>
        </div>
    </div>
    <div class="form-group">
        <label for="node-title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
            <input ng-model="node.title" type="text" class="form-control" id="node-title" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="node-content" class="col-sm-2 control-label">Content</label>
        <div class="col-sm-10">
            <textarea ng-model="node.content" ui-tinymce="contentTinymceOptions" class="form-control" id="node-content" placeholder="" style="height: 300px"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="node-tags" class="col-sm-2 control-label">Tags</label>
        <div class="col-sm-10">
            <input ng-model="node.content" type="text" class="form-control" id="node-tags" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-click="submit_draft()" class="btn btn-default">Save as draft</button>
            <button ng-click="submit()" class="btn btn-success btn-lg">Publish</button>
        </div>
    </div>
</form>
