{% extends "../layout/base.html" %} {% block css_block %}
<link href="{{rc.contextPath}}/assets/css/coode.home.css" rel="stylesheet">
{% endblock %}

{% block content%}
<h2>编辑帖</h2>

<hr />

	<form action="{{rc.contextPath}}/post/update" method="post" onkeydown="javascript:return chkchk(event);">
类别
		<div id="posttype" class="btn-group" data-toggle="buttons">
		<label class="btn btn-default"> 
				<input type="radio"	name="newtype" value="2">&nbsp;&nbsp;&nbsp;求解&nbsp;&nbsp;&nbsp;
		</label>
		<label class="btn btn-default"> 
				<input type="radio"	name="newtype" value="3">&nbsp;&nbsp;&nbsp; 分享&nbsp;&nbsp;&nbsp;
		</label>
		<label class="btn btn-default"> 
				<input type="radio"	name="newtype" value="4">&nbsp;&nbsp;&nbsp; 灌水&nbsp;&nbsp;&nbsp;
		</label>
		<label class="btn btn-default"> 
				<input type="radio" name="newtype" value="5">&nbsp;&nbsp;&nbsp;IDEA&nbsp;&nbsp;&nbsp;
		</label>
	</div>
		<input id="newtype" type="hidden" name="type" value="">
		<input name="preposttype" type="hidden" value="{{posttype}}">
	<br /><br />
	<div class="input-group">
		<span class="input-group-addon">标题</span> 
			<input name="title" type="text" class="form-control" maxlength="30" placeholder="输入帖子标题，最长不超过30字" value="{{post.title}}">
		</div>
		<br />
		<div class="input-group">
		<span class="input-group-addon">正文</span>
			<textarea id="mceEditor" class="form-control" rows="16" name="content"
				placeholder="输入帖子正文，可插入图片">{{post.content}}</textarea>
		</div>
		<br />
		<div class="input-group">
			<span class="input-group-addon">标签</span>
			<input name="tags" type="text" class="form-control" placeholder="添加标签，如：C语言">
		</div>
		<br />
		<input name="prestatus" type="hidden" value="{{post.status}}">
		<input name="nodeid" type="hidden" value="{{post.id}}">
		<p style="float:right">
	  		<button type="submit" name="status" value="2" class="btn btn-default" >保存草稿</button>
	  		<button type="submit" name="status" value="1" class="btn btn-danger btn-lg">更新文章</button>
		</p>
	</form>


{% endblock %}

{% block js_block %}
<script src="{{rc.contextPath}}/assets/tinymce/tinymce.min.js"></script>
<script src="{{rc.contextPath}}/assets/js/autopromot3.js"></script>
<script type="text/javascript">
$(document).ready(function(){

    {% if posttype | equal : 2 %}
        $('#posttype label:eq(0)').removeClass().addClass('btn btn-danger active');
    {% endif %}
    {% if posttype | equal : 3 %}
        $('#posttype label:eq(1)').removeClass().addClass('btn btn-primary active');
    {% endif %}
    {% if posttype | equal : 4 %}
        $('#posttype label:eq(2)').removeClass().addClass('btn btn-default active');
    {% endif %}
    {% if posttype | equal : 5 %}
        $('#posttype label:eq(3)').removeClass().addClass('btn btn-success active');
    {% endif %}

	
	$(document).delegate("#posttype label", "click", function(){
		var $this = $(this);
		$this.siblings().removeClass().addClass('btn btn-default');
		
		var $val = $this.find('input').attr("value");
		
		if($val == "2"){
			$this.removeClass().addClass('btn btn-danger active');
			$('#newtype').attr("value", "2");
		} else if ($val == "3") {
			$this.removeClass().addClass('btn btn-primary active');
			$('#newtype').attr("value", "3");
		} else if ($val == "4") {
			$this.removeClass().addClass('btn btn-default active');
			$('#newtype').attr("value", "4");
		} else if ($val == "5") {
			$this.removeClass().addClass('btn btn-success active');
			$('#newtype').attr("value", "5");
		} else {
			$this.removeClass().addClass('btn btn-default active');
			$('#newtype').attr("value", "4");
		}		
	});
	
	$(document).delegate("button[type='submit']","click", function(event){		
		var title = $("input[name='title']").val();
		title = $.trim(title);
		var content = tinyMCE.get('mceEditor').getContent()
		content = $.trim(content);

		if(title.length < 1){
			$("input[name='title']").focus();
			$("input[name='title']").parent().addClass("has-error");
			event.preventDefault();
		} else {
			if(content.length < 1){
				$("#mceEditor").parent().addClass("has-error");
				event.preventDefault();
			}
		}		
	});
	
	$("input[name='title']").bind("foucs keyup input paste",function(){
		$("input[name='title']").parent().removeClass("has-error");
	});
});

function chkchk(e)
{
    if(window.event)
    {
        if (e.keyCode==13)
        {
            alert(e.keyCode);
            return false;
        }
        return true;
    }
    else
    {
        if (e.which==13)
        {
            e.preventDefault();
            return false;
        }
        return true;
    }
}
</script>

<script type="text/javascript">

    tinyMCE.init({
        mode : "exact",
        language :"zh_cn",
        theme: "modern",
        elements: "mceEditor",
	    menubar : false,
        plugins: [
	        "image lists",
				"save table contextmenu emoticons paste textcolor"
		],
	    toolbar: "insertfile undo redo | bold italic forecolor backcolor | fontsizeselect | fontselect | " + 
	    	"alignleft aligncenter alignright alignjustify | bullist numlist outdent " + 
	    	"indent | link image table | emoticons", 
    	setup: function(editor) {
            editor.on('change', function(e) {
            	$("#mceEditor").parent().removeClass("has-error");
            });
        }
    });

</script>
{% endblock %}
