<div style="padding: 6px; margin: 5px; width: 334px;">
	<div class="row">
		<div style="float: left">
			<a href="{{rc.contextPath}}/ucbyid?userid={{userinfo.ID}}"
				style="margin-right: 16px;"> <img
				style="width: 80px; height: 80px;"
				src="assets/photo/' + userinfo.USERINFO.HEAD_ID + '" alt="暂无图片">
			</a>
		</div>
		<div style="float: left">
			<div class="row">
				<a href="{{rc.contextPath}}/ucbyid?userid={{userinfo.ID}}"><strong
					id="nickname"
					style="float: left; margin-bottom: 5px; margin-right: 10px;">
						{{ USERINFO.NICK_NAME }}</strong></a>
				<p id="dept" style="float: left;">( {{ USERINFO.DEPT }} )</p>
			</div>
			<div class="row">
				<div style="float: left; margin: 0px; padding: 0px">
					<p>发帖</p>
					<p>{{ USERINFO.STAT_POST }}</p>
				</div>
				<div
					style="float: left; margin-left: 10px; margin-right: 10px; padding: 0px">
					<p>回帖</p>
					<p>{{ USERINFO.STAT_REPLY }} </p>
				</div>
				<div style="float: left; margin: 0px; padding: 0px">
					<p>威望</p>
					<p>{{ USERINFO.CREDIT }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<label style="float: left">标签：</label>
		{% for item in tagList %}
			<span class="label label-info" style="float:left;margin:2px 3px 2px 3px;" title="{{list[item].DESCRIPTION}}">{{item.NAME}}</span>
		{% endfor %}
	</div>
	<div class="row">
		<label>项目经验：{{USERINFO.PROJ_EXP}} </label>
	</div>
	<div class="row" style="text-align: right">
		<button type="button" class="btn btn-primary" disabled="disabled">发送邮件</button>
	</div>
</div>