.section-head {
    border-left: #2995E0 3px solid;
    padding-left: 0.8em;
    margin-bottom: 0.7em;
    font-size:16px; 
    color:#000000;
}

#right-sections .section {
    margin-top: 0.7em;
}

#profile-img {
    border: #e7e7e7 solid 1px;
    border-top: #2995E0 3px solid;
    border-bottom: 0;
    padding: 1em 1em;
}

#profile-data {
    text-align: center;
    border: #e7e7e7 solid 1px;
}

#profile-data div {
    padding-top: 0.7em;
    border-right: #e7e7e7 solid 1px;
}

#profile-data div:last-child {
    border-right: 0;
}

#client-section .client {
    padding-left: 2em;
}

.tag {
	font-size:12px;
	color:#666666;
	background-color: #F0FFFF;
    display: inline-block;
    padding: 2px 1em;
    border-radius: 3px;
    margin-right: 0.5em;
    margin-bottom: 0.7em;
    line-height: 25px;
}

.tag a:link {color: #666666; }
.tag a:visited {color: #666666; }
.tag a:hover {color: #ffffff; background-color: #2995e0;}

dl.node {
	padding-top:25px;
	padding-bottom:20px;
    border-bottom: solid 1px #ededed;
}

/*dl dt {*/
    /*margin-top: 1.8em;;*/
/*}*/

/*dl dd {*/
    /*font-size: 0.9em;*/
/*}*/

/*dl dd#summary {*/
    /*text-align: justify;*/
    /*font-size: 0.9em;*/
/*}*/

/*dl dd#extras {*/
    /*border-bottom: solid 1px #ededed;*/
    /*margin-top: 0.5em;*/
    /*color: #737373;*/
/*}*/


/**--- search **/
.highlight {
    color: red;
    font-weight: bolder;
    /*background-color: #fffcaa;*/
}
/*头像*/
#userphoto{
	width: 70px;
	height: 70px;
}

.top10head {
	font-size:12px;
	color:#999999;
}
.top10title {
	font-size:12px;
	color:#333333;
}
.tag-action {
		position : relative;
		left : -15px;
		top : -10px;
}
.tag-action:before {
	
    content: url(../images/icon-delete.png);
}
.divtype {
	margin-top: 20px;
	margin-bottom:10px;
	margin-left:10px;
}

.choose {
	color : #2995e0;
	font-size:12px;
}
.choose2 {
	color : #cccccc;
	font-size : 12px;
}