.favorite-list-num {
	margin-top: 70px;
	background-color: #2995e0;
	height: 50px;
	width: 50px;
	border-radius: 5px 0px 0px 5px;
	text-align: center;
	float: left;
}
.favorite-list-num span {
	height: 50px;
	line-height: 50px;
	color: white;
	font-size: 22px;
}
.favorite-list {
	width: 420px;
	border: 1px solid #ededed;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
	margin-top: 30px;
	float: left;
}
.favorite-list-top {
	margin: 1px;
	height: 40px;
	background-color: #f2f2f2;
}
.title-top {
	margin-top: 10px;
	border-bottom: 3px solid #2995e0;
}
.title-top span {
	font-size: 20px;
	color: #2995e0;
	padding-left: 20px;
}
.breadcrumb {
	background-color: white;
	text-align: right;
	padding-bottom: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	margin-right: 0px;
}
.add-favorite {
	text-align: right;
	padding-top: 10px;
	padding-right: 23px;
}
/*更多 删除 重命名*/
.favorite-action {
	font-size: 12px;
	color: #bababa;
	padding-top: 18px;
}
.favorite-action a {
	font-size: 12px;
	color: #bababa;
	padding-top: 18px;
}
.favorite-action-last {
	float: right;
	padding-left: 5px;
	padding-right: 10px;
}
.favorite-action-before {
	float: right;
	border-right: 1px solid;
	padding-left: 5px;
	padding-right: 5px;
}
.favorite-name a{
	font-size: 16px;
	color: #333333;
	padding-left: 20px;
	padding-top: 10px;
	float: left;
}
/*收藏夹下前三条文章*/
.favorite-list-title {
	font-size: 12px;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px solid #ededed;
}

.favorite-list-title-tip {
	float: left;
	color: #bababa;
	padding-left: 18px;
}
.favorite-list-title-tip a{
	float: left;
	color: #bababa;
	padding-left: 18px;
}
.favorite-list-title-name a{
	color: #333333;
	float: left;
}
.favorite-list-title-time {
	float: right;
	color: #bababa;
	padding-right: 10px;
	padding-left: 10px;
}
.favorite-list-title-date {
	float: right;
	color: #bababa;
}

/*创建收藏夹*/
#favpage .modal-body {
	height: 170px;
	width: 500px;
}

#favpage .modal {
	margin-top: 300px;
	overflow-y: hidden;
}

#favpage .modal-dialog {
	width: 500px;
	border-radius: 5px;
}

#favpage .modal-header {
	height: 50px;
	background-color: #2995e0;
}

#favpage .modal-title {
	color: #ffffff;
	font-size: 18px;
	border-radius: 5px 5px 0px 0px;
}

#favpage .modal-body span {
	font-size: 12px;
	color: #666666;
}

#favpage .modal-body input {
	width: 380px;
	height: 30px;
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	font-size: 12px;
	padding-left: 10px;
}

#favpage .modal-body input:before {
	color: #cccccc;
}

#favpage button.close {
	font-size: 30px;
	font-weight: lighter;
	color: #ffffff;
	opacity: 1;
	text-shadow: 0 0px 0 #fff;
}

/*按钮*/
#favpage .btn-groups {
	margin-left: 250px;
	margin-top: 50px;
}

#favpage .btn-default {
	width: 80px;
	height: 40px;
	background-color: #e9e9e9;
	color: #a6a6a6;
	border: #ffffff;
}

#favpage .btn-primary {
	margin-left: 20px;
	width: 100px;
	height: 40px;
	background-color: #ff6600;
	color: #ffffff;
	border: #ffffff;
}

#favpage .btn-primary:hover {
	background-color: #ff6600;
}

/*删除收藏夹*/
#favpage #delete-modal-header {
	background-color: #ffffff;
	border-bottom: 1px solid #ffffff;
	border-radius: 5px;
}

#favpage #delete-modal-close {
	color: #cccccc;
}

#favpage #delete-modal-body {
	padding-top: 5px;
	margin-bottom:20px;
}

/*删除提示框中文字*/
#tiptext{
	margin-left: 10px;
	font-weight: bolder;
	font-size: 12px;
	color: #333333;	
	float:left;
	width: 300px;	
}

#tip{
	height:78px; 	 
}

#tip td{
	 vertical-align:middle;
}

#delete-modal-body strong {
	color: #2995e0;
}

#delete-modal-body img {
	margin-left: 50px;
	float:left;
}

#favpage  #delete-btn-groups {
	margin-top: 20px;
	float: left;
}

/*收藏夹重命名*/
#rename-modal-body input {
	color: #333333;
}
/*==========================================================================================*/
/*favtitlelist*/
/*==========================================================================================*/
/*收藏夹更多全文章列表*/
.fav-title-list{
	font-size: 12px;
	line-height: 50px;
	height: 50px;
	border-bottom: 1px solid #ededed;
}

.title-list-action {
	visibility:hidden;
}
.moveto{
	float:right;
	padding-right: 130px;	
}
.block{
	float:right;
	padding-right: 130px;	
}

.delete{
	float:right;
}

.moveto span{
	border-left: 1px #999999 solid;
}
.moveto a{
	color: #999999;
}

.title-list-action span {
	color: #999999;
	padding-left: 8px;
	padding-right: 8px;
}
/*添加到收藏夹下拉列表*/
#favpage #favlistdropdowninput{
	width: 330px;
	height: 30px;
	border: 1px solid #CCCCCC;
	border-right:#FFFFFF;
	border-radius: 2px;
	font-size: 12px;
	padding-left: 10px;
	background-color: #ffffff;
	text-align:left;
	color:#666666;
}

#favpage #dropdowninputicon{
	width: 50px;
	height: 30px;
	border: 1px solid #CCCCCC;
	border-left:#FFFFFF;
	border-radius: 2px;
	font-size: 12px;
	background-color: #ffffff;
}
#favlist-dropdown-menu li{
	width: 380px;
}
#clear{
	clear:both;
}

