.coode-steps-tip {
    color: gray;
}

.coode-steps {
    text-align: right
}

.coode-step-icons {
    padding-right: 10px
}

.coode-step-icons hr {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
    margin: 0;
    color: #CBCBCB;
}

.coode-step-labels span {
    margin-left: 80px;
    color: #2995E0;
}

.coode-panel {
    border: 1px solid #eee;
    box-shadow:2px 3px 10px #909090;
    margin-top: 10px;
    margin-bottom: 10px;
}

.coode-panel-left {
    /*text-align: center;*/
    height: 100%;
}

.coode-panel-right {
    border-left: 1px solid #eee;
    height: 100%;
}

.coode-panel-left .row, .coode-panel-right .row {
    padding: 15px 15px 5px 15px;
}

.section-title {
    font-size: 1.3em;
    font-weight: bold;
}

.coode-panel-right .control-label {
    width: 90px;
    font-weight: normal;
    color: #555;
}

/*---------tags------------*/
.tag.label.label-default {
    position: relative;
    display: inline-block;
    font-size: 0.9em;
    margin-right: 15px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 0px #ddd;
    color: #444;
    background-color: transparent;
    border: solid 1px #ddd;
    border-top: solid 1px #eee;
    padding: .7em .7em !important;

}

.tag-action {
    position: absolute;
    top: -8px;
    right: -8px;
}

.coode-panel-right .tag-action:before {
    content: url(../images/icon-add.png);
}

.coode-panel-left .tag-action:before {
    content: url(../images/icon-delete.png);
}

/*-----带上蓝边框的一个section---------------*/
.coode-section {
    border-top: solid 2px #2995E0;
}