<!-- 根据返回的收藏夹数目，渲染不同的Modal -->
<!-- 没有就显示创建一个,有就显示添加到某个收藏夹 -->
{% if  result |equal: '1' %}
        <div id="favpage">
 		<div 
              class="modal fade"
              id="favInfo"
              tabindex="-1"
              role="dialog"
              aria-labelledby="myModalLabel"
              aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header" id = "delete-modal-header">
                  <button type="button" class="close" id="delete-modal-close" data-dismiss="modal" aria-hidden="true">
                    &times;
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                  </h4>
                </div>
                <div class="modal-body" id="delete-modal-body">
                  <div id = "tip">
                    <table>
                      <tr>
                        <td>
                          <img src="{{rc.contextPath}}/assets/images/icon-questionmark.png">
                        </td>
                        <td>
                          <div id= "tiptext">
                            <span>
                    已收藏
                             
                            </span>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div  id="delete-btn-groups" class="btn-groups">
                    <button  type="button" class="btn btn-primary" data-dismiss="modal">
                      确定
                    </button>
                  </div>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          </div>
{% else %}
		{% if  favCount |equal: '0' %}
								        <!--  没有收藏夹，创建收藏夹-->
								  <div id="favpage">
								  <div 
								      class="modal fade"
								      id="createfavModal"
								      tabindex="-1"
								      role="dialog"
								      aria-labelledby="myModalLabel"
								      aria-hidden="true">
								
								    <div class="modal-dialog">
								      <div class="modal-content">
								        <div class="modal-header">
								          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								            &times;
								          </button>
								          <h4 class="modal-title" id="myModalLabel">
								            创建收藏夹
								          </h4>
								        </div>
								        <div class="modal-body">
								          <form action="{{rc.contextPath}}/createfav" method="post">
								            <span>
								              收藏夹名称：
								            </span>
								            <input type="text" name="favoritename" placeholder="输入收藏夹名称"/>
								            <br />
								            <div class="btn-groups">
								              <button type="button" class="btn btn-default" data-dismiss="modal">
								                取消
								              </button>
								              <button type="submit" class="btn btn-primary" id = "createfav">
								                确认创建
								              </button>
								            </div>
								          </form>
								        </div>
								      </div>
								      <!-- /.modal-content -->
								    </div>
								    <!-- /.modal-dialog -->
								  </div>
								  </div>
								  <!-- /.modal -->
								  
		{% else %}
						
											 <!--  有收藏夹，选择收藏夹-->
								  <div id="favpage">
								  <div 
								      class="modal fade"
								      id="choosefavModal"
								      tabindex="-1"
								      role="dialog"
								      aria-labelledby="myModalLabel"
								      aria-hidden="true">
								
								    <div class="modal-dialog">
								      <div class="modal-content">
								        <div class="modal-header">
								          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								            &times;
								          </button>
								          <h4 class="modal-title" id="myModalLabel">
								            添加到收藏夹
								          </h4>
								        </div>
								        <div class="modal-body">
								          <form action="{{rc.contextPath}}/addFav2" method="post">
								          	<input name="nodeId" type="hidden" value={{nodeId}}></input>
								            <span>
								             选择 收藏夹：
								            </span>
								            <select name="favoritename">
								            	<option value="">--请选择收藏夹--</option>
								            	{% for fav in favList%}
								            	<option value={{fav.ID}} >{{fav.FAVORITE_NAME}}</option>
												{% endfor %}
								            </select>
								            <br />
								            <div class="btn-groups">
											    <a data-toggle="modal" data-target="#createfavModal" style="cursor:pointer">
											      + 添加新的收藏夹
											    </a>
								              <button type="submit" class="btn btn-primary" id = "chooseFav">
								                完成
								              </button>
								            </div>
								          </form>
								        </div>
								      </div>
								      <!-- /.modal-content -->
								    </div>
								    <!-- /.modal-dialog -->
								  </div>
								  </div>
								  <!-- /.modal -->
		
		{% endif %}
{% endif %}		
