{% for item in list %}
<a href='#' class='list-group-item '>
	<div class='list-group'>
		<div class='row' >
			<div style='float:left;'>
			<img src='{{rc.contextPath}}/assets/images/avatar-70x70.png' alt='暂无图片' >
			</div> 
			<div style='float:right;'>
			<p> 姓名：{{item.NAME}}</p><br>
			<small> 回帖：{{item.POSTCOUNT}}</small>
			<small> 发帖：{{item.REPLYCOUNT}}</small>
			<small>威望 ： {{item.POSITION}}</small>
			</div>
		</div>
	</div>
</a>
{% endfor %}