{% extends "./layout/base.html" %}

{% block css_block %}
<link href="{{rc.contextPath}}/assets/css/coode.home.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="col-md-11">

    <ul id="navbar" class="nav nav-tabs">
        <li {%if flag | equal:'day' %}class="active"{%endif%}  ><a href="{{rc.contextPath}}/top10Detail">今日top10</a></li>
        <li {%if flag | equal:'week' %}class="active"{%endif%} ><a href="{{rc.contextPath}}/top10Week">本周top10</a></li>
        <li {%if flag | equal:'month' %}class="active"{%endif%} ><a href="{{rc.contextPath}}/top10Month">本月top10</a></li>
    </ul>
	<div id="top10">

	   <dl>
        {% if list | length |equal: 0 %}
        <dt>没有搜索到任何记录</dt>
        {% endif %}
        </dl>
	  {% for tempVar in list %}

	   <div style="height:200px;width:90%;">
        	<div style="height:90%;width:20%; float:left;">
        	 <div style="margin-top:20px;margin-left:100px;">
        	 {% if loop.index | equal:'0' %}
        	  <img src="{{rc.contextPath}}/assets/images/1.png"></img>
        	  {% endif %}
        	  {% if loop.index | equal:'1' %}
        	  <img src="{{rc.contextPath}}/assets/images/2.png"></img>
        	  {% endif %}
        	   {% if loop.index | equal:'2' %}
        	  <img src="{{rc.contextPath}}/assets/images/3.png"></img>
        	  {% endif %}
        	          	   {% if loop.index | equal:'3' %}
        	  <img src="{{rc.contextPath}}/assets/images/4.png"></img>
        	  {% endif %}
        	          	   {% if loop.index | equal:'4' %}
        	  <img src="{{rc.contextPath}}/assets/images/5.png"></img>
        	  {% endif %}
        	          	   {% if loop.index | equal:'5' %}
        	  <img src="{{rc.contextPath}}/assets/images/6.png"></img>
        	  {% endif %}
        	          	   {% if loop.index | equal:'6' %}
        	  <img src="{{rc.contextPath}}/assets/images/7.png"></img>
        	  {% endif %}
        	          	   {% if loop.index | equal:'7' %}
        	  <img src="{{rc.contextPath}}/assets/images/8.png"></img>
        	  {% endif %}
        	          	   {% if loop.index | equal:'8' %}
        	  <img src="{{rc.contextPath}}/assets/images/9.png"></img>
        	  {% endif %}
        	          	   {% if loop.index | equal:'9' %}
        	  <img src="{{rc.contextPath}}/assets/images/10.png"></img>
        	  {% endif %}
        	 </div>
        	 <div style="text-align:center;">
        	 	<lable>{{tempVar.STAT_VOTE}}</lable>
        	 </div>
        	</div>
         	<div style="height:100%;width:80%; float:right;">
        	 <div style="height:80%;">
        	 	<p style="height:80%;margin-top:20px;margin-left:40px;margin-right:40px;overflow:hidden;line-height:190%;">
								<a href={{rc.contextPath}}/post?id={{tempVar.ID}}>{%if tempVar.NODE_TYPE | equal:'1'%} [文章] {% endif %}
								 {%if tempVar.NODE_TYPE | equal:'2'%} [提问] {% endif %}
								 {%if tempVar.NODE_TYPE | equal:'3'%} [分享] {% endif %}
								  {%if tempVar.NODE_TYPE | equal:'4'%} [灌水] {% endif %}
								   {%if tempVar.NODE_TYPE | equal:'5'%} [想法] {% endif %}
  									 {{tempVar.TITLE}}</a><br/>
  									 {{tempVar.SUMMARY }}
        	 	 </p>
       	 	         <dd  style="font-size:12px;margin-left:40px;">
			          <span style="color:#999999;margin-bottom:20px;"> 标签：</span> 
			            {% if tempVar.tags |length |equal : "0"%}
			            <small style="color:#79b9e6"> 木有标签</small>
			            {% else %}
			            {% for tag in tempVar.tags %}
			            #<span class="btn btn-sm" ><a href="{{rc.contextPath}}/tagsDetail2?tid={{tag.id}}" style="color:#79b9e6;margin-top:20px;margin-bottom:20px;" >{{tag.NAME}}</a></span>
			            {% endfor %}
			            {% endif%}
			        </dd>
        	 </div>
        	 
		        <dd id="extras" style="font-size:12px;margin-left:40px;">
		            <img src="{{rc.contextPath}}/assets/images/icon-favorite.png" ><span style="cursor:pointer;color:#999999;margin-right:30px;margin-left:10px;" onclick="clk(this,{{node.id}});"> {{tempVar.STAT_FAVORITES}}</span>
		            <img src="{{rc.contextPath}}/assets/images/icon-comment.png" ><span style="cursor:pointer;color:#999999;margin-left:10px;" >{{tempVar.STAT_ANSWERS}} </span>
		           <span class="pull-right"  style="color:#999999">{{tempVar.date | date:"yyyy年MM月dd日"}}</span> <span class="pull-right"  style="color:#136096">{{tempVar.from}}：</span>
		        </dd>
        	</div>       
        </div>
        <hr></hr>
        {% endfor %}
        
	</div>

</div>
{% endblock %}

{% block js_block %}
<script type="text/javascript" src="{{rc.contextPath}}/assets/js/coode.tag.js"></script>
<script type="text/javascript">

$('#navbar li').bind('click', function() {
	$("#navbar li").removeClass("active");
    $(this).addClass('active');
});
</script>
{% endblock %}

